.brif
  &-block 
    display: flex
  &__interview
    flex-basis: 50%
  &__form
    flex-basis: 50%
.interview 
  padding-right: 70px 
  &__title
    margin-bottom: 50px 
    font-size: 22px
    font-weight: 700
  &__subtitle
    display: block 
    margin-bottom: 94px
    font-size: 16px
    font-weight: 400 
  &-list
    list-style: none 
    padding: 0 
    &__counter
      display: inline-block 
      text-align: center
      line-height: 35px 
      width: 35px
      height: 35px
      border: 2px solid $text-color
      border-radius: 50% 