*
  box-sizing: border-box 

body
  img 
    max-width: 100%
  .container 
    width: 1170px
    margin: 0 auto 
@media (max-width: 1200px)
  .container 
    width: 95%
    margin: 0 auto
@media (max-width: 768px)
  .container 
    max-width: 580px 
    width: 90%
.button 
  border-radius: 10px 
  background-color: $main-color 
  border: none 
  outline: none 
  padding: 18px 30px
  font-weight: 700
  &:hover
    background-color: #f4df42
    cursor: pointer
.section
  &-title 
    font-size: 24px
    font-weight: 700
  &-subtitle 
    display: block 
    font-size: 16px
    font-weight: 400
.input
  border: 1px solid $border-input 
  padding: 20px 26px
  border-radius: 10px
  font-size: 15px


