.offer
  &-block
    padding-top: 84px 
    padding-bottom: 92px
    padding-right: 91px
    width: 50%
    border: 1px solid black
  &__title 
    max-width: 345px
    line-height: 35px
    margin-bottom: 24px
  &__subtitle 
    max-width: 250px
    margin-bottom: 30px
  &__input
    margin-bottom: 30px 
    width: 240px
    &:first-child
      margin-right: 14px
  &__button
    width: 100%