.portfolio
  background: $secondary url(../img/portfolio/portfolio-pattern.jpg) repeat-y center left 
  background-size: 50%
  &-block
    padding-top: 99px 
    padding-bottom: 100px 
  &__title
    margin: 0 auto 
    margin-bottom: 99px 
    font-size: 30px
    line-height: 45px
  &__arrows
    display: flex 
    justify-content: space-between 
    max-width: 120px
    margin: auto 
    margin-top: 68px
.slider
  &__image
    margin: 0 auto 
@media (max-width: 800px)
  .slider
    &__image
      max-width: 355px 
@media (max-width: 768px)
  .portfolio
    background: $secondary
  .slider
    &__image
      max-width: 280px
@media (max-width: 767px)
  .portfolio
    &-block
      padding-top: 0
      padding-bottom: 0
  .slider
    &__image
      max-width: 100%
@media (max-width: 380px) 
  .portfolio
    &-block
      padding-top: 43px 
      padding-bottom: 64px 
    &__title 
     margin-bottom: 41px
     font-size: 18px
     line-height: 25px
    &__arrows
      margin-top: 46px
  .slider
    &__image
      max-width: 95%