* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* img {
  max-width: 100%;
}

* .container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  outline: none;
  padding: 18px 30px;
  font-weight: 700;
}

.button:hover {
  background-color: #f4df42;
  cursor: pointer;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  border-radius: 10px;
  font-size: 15px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 300;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 1100) {
  .navbar-block {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__phone {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 380px) {
  .navbar__button {
    font-size: 10px;
    margin-left: 50px;
    padding: 15px 25px;
    border-radius: 5px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  color: #333333;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 65px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:nth-child(2) {
  margin-bottom: 30px;
}

.hero-list__image {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
  color: #333333;
}

.hero-list__photo {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-text__title {
    text-align: center;
    font-size: 34px;
    line-height: 43px;
  }
  .hero-text__subtitle {
    margin-bottom: 43px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: left;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:last-child {
    margin-bottom: 0;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 380px) {
  .hero {
    padding-top: 45px;
  }
  .hero-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-text__title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 13px;
    line-height: 25px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    max-width: 196px;
  }
}

@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

body .hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer {
  background: url(../img/offer/offer-bg.png) no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-top: 84px;
  padding-bottom: 92px;
  padding-right: 91px;
  position: relative;
}

.offer__title {
  max-width: 345px;
  line-height: 35px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
  font-size: 16px;
}

.offer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer__input-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__input {
  margin-bottom: 30px;
  width: 235px;
  min-height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 31px;
  font-size: 15px;
}

.offer__end {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__manager {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  max-width: 236px;
}

.offer__recall {
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.offer__phone {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

h2 {
  margin: 0;
}

@media (max-width: 1200px) {
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px;
  }
  .offer__title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .offer__input-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer__manager {
    margin-bottom: 8px;
  }
  .offer__contacts {
    margin-right: 50px;
  }
  .offer__input {
    width: 100%;
  }
  .offer__input:first-child {
    margin-right: 0;
  }
}

@media (max-width: 490px) {
  .offer-block {
    padding: 60px;
  }
}

@media (max-width: 480px) {
  .offer-block {
    padding: 50px;
  }
}

@media (max-width: 470px) {
  .offer-block {
    padding: 40px;
  }
}

@media (max-width: 460px) {
  .offer-block {
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .offer-block {
    padding: 20px;
  }
}

@media (max-width: 440px) {
  .offer-block {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  .offer-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin-top: 53px;
  }
  .offer__title {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  .offer__subtitle {
    font-size: 14px;
    text-align: left;
    margin-bottom: 27px;
  }
  .offer__input-block {
    max-width: 275px;
  }
  .offer__input {
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
    padding: 20px 60px;
    margin-bottom: 20px;
    max-width: 275px;
  }
  .offer__end {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 56px;
  }
  .offer__manager {
    margin-bottom: 18px;
  }
  .offer__recall {
    margin-bottom: 8px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialogue {
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}

.modal-dialogue__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url(../img/portfolio/portfolio-pattern.jpg) repeat-y center left;
  background-size: 50%;
}

.portfolio-block {
  padding-top: 99px;
  padding-bottom: 100px;
}

.portfolio__title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 99px;
}

.portfolio__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background: #f5f5f5;
  }
}

@media (max-width: 380px) {
  .portfolio-block {
    padding-top: 43px;
    padding-bottom: 64px;
  }
  .portfolio__title {
    margin-bottom: 41px;
    font-size: 18px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}
/*# sourceMappingURL=style.css.map */